h1 {
  text-align: center;
}

.form-control {
  background-color: transparent;
  border: 1px solid;
}


.container {
  padding-bottom: 4rem;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 4rem
}

.invalid {
  border: 1px solid red;
}
